body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #222;
    background-color: #e9ebee;
    box-sizing: border-box;
}

.navbar-main {
    display: block;
    background-color: #005eb8;
    border-color: #eee;
    border-width: 0;
    height: 84px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}

.container {
    margin-right: 102px;
    margin-left: 102px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-inner {
    width: 100%;
    display: table;
    border-collapse: separate;
    will-change: margin;
    margin-top: 25px;
    margin-bottom: 24px;
}

.navbar-branding {
    display: table-cell;
    width: 140px;
    vertical-align: middle;
}

.navbar-searchbox {
    padding-left: 10px;
    padding-right: 20px;
    display: table-cell;
    width: 40%;
    padding-bottom: 10px!important;
    vertical-align: middle;
}

.searchbox-wrapper {
    width: 540px;
    position: relative;
    display: flex;

}

.searchbox-input {
    z-index: 4;
    border-color: transparent;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.searchbox-input:before {
    content: " ";
    position: absolute;
    left: -7px;
    top: 50%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent #fff transparent transparent;
}

.searchbox-input {
    background-color: #fff;
    width: 100%;
    height: 36px;
    border-radius: 2px;
    flex: 3;
}

#input-text {
    border: none;
    height: 90%;
    width: 80%;
    display: inline-block;
}

#search-button {
    flex: 1;
    
}

.button {
    border-width: 0;
    height: 36px;
    padding: 7px 8px;
    color: #222;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    margin-left: -30px;
    z-index: 999;
}

.navbar-toolbox {
    display: table-cell;
    width: 470px;
    vertical-align: middle;
    color: #fff;
    padding-bottom: 10px;
}

.tooblox-wrapper {
    white-space: nowrap;
    display: inline-block;
}

.btn-group {
    display: inline-block;
    width: auto;
    margin-left: 10px;
    padding: 7px;
}

.lg-inline {
    display: inline!important;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 5px;
    letter-spacing: 1px;
}

.navbar-aux {
    display: block;
    position: absolute;
    top: 84px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
    transition: transform .1s ease-in-out,-webkit-transform .1s ease-in-out;
    will-change: transform;
}

.navbar-aux-content {
    position: relative;
    background-color: #fff;
    max-height: 40px;
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    border-color: #eee;
    margin-right: 0;
    margin-left: 0;
    padding-right: 10px;
    padding-left: 10px;
    
}

.left-content {
    display: inline-block;
    padding: 10px 10px;
    
    color: #fff;
    background-color: #22a7f0;
    line-height: 20px;
    cursor: pointer;
    width: 220px;
}

.products-text {
    margin-left: 7px;
}

u {
    margin-left: 7px;
}

.center-content {
    display: inline-block;
}

.md-inline {
    display: inline-block;
    font-size: 12px;
    letter-spacing: .4px;
    margin: auto 10px;
    cursor: pointer;
}

.right-content {
    display: inline-block;
    margin-left: 450px;
}

.md-inline.right {
    margin-left: 5px!important;
}

.main-container {
    display: block;
    position: absolute;
    top: 120px;
    width: 1200px;
    z-index: -3;
}

.main-products {
    
    width: 1200px;
    height: 447px;
    padding: 5px;
    
}

.megamenu {
    list-style-type: none;
}

.products-left {
    position: relative;
    display: inline-block;
    background-color: #fff;
    width: 240px;
    height: 447px;
    top: -16px!important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}

.products-carousel {
    display: inline-block;
    background-color: #fff;
    width: 960px;
    height: 447px;
    z-index: -7;
}

.department-name {
    vertical-align: -webkit-baseline-middle;
}

ul {
   padding: 0;
}

li {
    vertical-align: middle;
    padding: 7px 10px;
}

li>span.md-inline {
    margin-left: 7px;
}

.widget-container {
    margin: 0 auto;
    color: #005596;
    font-weight: 600;
    background-color: #fff;
    margin: 10px 0 5px 0;
    cursor: pointer;
}

.benefits {
    display: inline-block;
    vertical-align: middle;
    width: 16.32%;
    border-right: 1px solid #e8f5fd;
    padding: 17px 15px 17px 25px;
}

.benefits-wrapper {
    display: table;
    margin: 0 auto;
    cursor: pointer;
    
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

img.table-cell {
    padding-right: 10px;
}

.widget-message {
    display: block;
    margin: 5px 0;
    font-size: 12px;
    text-align: right;
}

.recent-carousel {
    margin-top: 47px;
}

.text-muted {
    color: #888;
}

.page-section-title {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.ph-card {
    display: inline-block;
    vertical-align: bottom;
    width: calc(1210px / 6);
    padding: 5px;
    position: relative;
    white-space: nowrap;
    height: 366px;
    box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
    background-color: #fff;
}

.badge-container {
    left: -5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    z-index: 3;
    font-size: 12px;
    font-weight: 400;
}

.badge {
    background-color: rgb(255, 66, 0)!important;
    min-width: 62px;
    font-size: 13px;
    letter-spacing: .03em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    z-index: 1;
    line-height: 1.3;
    display: block;
    padding: 6px 5px;
    color: #fff;
    white-space: normal;
    background-color: #444;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    text-transform: uppercase;
}

.badge::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #a9897f;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.badge-label {
    text-overflow: ellipsis;
    overflow: hidden;
}

.card {
    position: relative;
    display: block;
    margin: 0;
    background-color: #fff;
    border-radius: 3px;
    border-width: 0;
    width: 100%;
    padding: 0;
    color: #222;
    text-decoration: none;
    overflow: hidden;
    
    -webkit-transition: box-shadow .15s ease-in-out;
    transition: box-shadow .15s ease-in-out;
    text-align: center;
}

.card-heading {
    border-radius: 3px 3px 0 0;
    padding: 15px 15px 15px;
}

.thumbnail-wrapper {
    display: block;
    width: 100%;
    height: 150px;
    position: relative;
    padding: 5px;
    margin: 0;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #222;
}

.thumbnail {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    display: block;
    text-align: center;
    z-index: 1;
    color: inherit!important;
    text-decoration: none!important;
}

img.thumbnail {
    vertical-align: middle;
}

.card-body {
    padding: 0 15px 10px;
}

.product-title {
    font-size: 14px;
    line-height: 20px;
    height: 60px;
    max-height: 60px;
    font-weight: 700;
    margin-bottom: 0;
    white-space: normal;
    overflow: hidden;
    color: #222;
    display: block;
    text-decoration: none;
}

.yellow-star {
    color: #F9BF3B;
}

.fa-star {
    display: inline-block;
    margin-right: 2px;
}

.rating-text {
    margin-left: 7px;
    line-height: 20px;
    font-size: 12px;
    color: #222;
    vertical-align: top;
}

.product-old-price {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    height: 20px;
    margin-bottom: 0;
    text-decoration: none;
    display: block;
    margin: 0 0 10px;
}

.product-this-deal {
    font-size: inherit;
    margin-left: 5px;
    display: inline;
    line-height: 20px;
    white-space: nowrap;
    
    text-decoration: none;
    color: #999;
}

.product-new-price {
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;
    height: 20px;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: 550;
    color: #ef2809;
}

.card p {
    margin: 0!important;
}